* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

a:link {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .form {
        width: 400px;
        background-color: #fff;
        border-radius: 6px;
        padding: 50px 20px;
        text-align: center;

        &-btn .btn{
            width: 100%;
            border: none;
            background: none;
            background: linear-gradient(120deg, #2980b9, #8e44ad);
            height: 50px;
        }

        &-sm {
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                display: inline-block;
                padding: 6px 12px;
                font-size: 16px;

                &:nth-child(1) {
                    color: #362FD9;
                }

                &:nth-child(2) {
                    color: #D21312;
                }

                i {
                    margin-right: 6px;
                }
            }
        }

        &-or {
            color: #6c757d;;
        }
    }
}
